{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flask_test_2{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated %}
{#      current_user 由Flask-Login 定义,且在视图函数和模板中自动可用,
        这个变量的值是当前登录的用户.如果用户尚未登录，则是一个匿名用户代理对象,
        如果是匿名用户，is_authenticated() 方法返回False
        所以这个方法可用来判断当前用户是否已经登录#}
        <h3>Hi,{{ current_user.username }},欢迎来到Flask世界</h3>
    {% else %}
        <h3>Flask世界有你更精彩</h3>
    {% endif %}
</div>
<div>
    {% if current_user.is_authenticated %}
        {% if current_user.can(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.hello') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
